<div class="container"
  style="background-color: #428bca;color: white;max-width: unset;width:100%;margin: unset;height: 35px;font-size: 12px;">
  <div class="row">
    <div class="col-md" style="margin-top: 5px;padding: unset;text-align: center;">
      <span *ngIf="loadComponent" style="float: left;height: 22px;display: flex;">
        <button pButton type="button" icon="pi pi-refresh" iconPos="left" styleClass="ui-button-info"
          (click)="handleResetClick($event)" style="height: 23px;"></button>
        <span *ngIf="isDataValid" style="display:flex; white-space:nowrap;">
          <button pButton type="button" icon="pi pi-share-alt" iconPos="left" styleClass="ui-button-info"
            (click)="handleShareClick($event)" style="height: 23px;"></button>
        </span>
        <span *ngIf="loadMMSISync" style="display:flex; white-space:nowrap;">
          <div style="height: 22px;position:fixed;z-index:1003;left: 75px;">Layer:
            <p-dropdown #lyrOptions id="lyrOptions" [options]="layers" [(ngModel)]="layerSelected" optionLabel="title"
              (onChange)="selectedLayer($event)"></p-dropdown>
            <div #layerRefresh id="layerRefresh" [ngStyle]="divLayerRefreshCss" (click)="refreshLayer($event)">
              <img src="{{layerRefreshImageSrc}}" title="Refresh layer..."
                style="width:18px;height:18px;padding:1px;margin-left:5px;">
            </div>
          </div>
        </span>
      </span>
      <div *ngIf="loadComponent">
        <span *ngIf="isDataValid" style="float: right;height: 23px;display: flex;border-bottom:dashed;border-color:lightblue;">
          <div #layerZoom id="layerZoom" [ngStyle]="divLayerZoomCss" (click)="handleZoomClick($event)">
            <img src="{{layerZoomImageSrc}}" title="Zoom to layer..."
              style="width:20px;height:20px;padding:1px;">
          </div>
          <div #layerLabels id="layerLabels" [ngStyle]="divLayerLabelCss" (click)="handleLabelClick($event)">
            <img src="{{layerLabelImageSrc}}" title="Show labels on layer..."
              style="width:20px;height:20px;padding:1px;">
          </div>
          <span #colorPickerSpan (click)="colorPickerSpanClicked($event)">
            <p-colorPicker #colorPicker [(ngModel)]="color" [ngStyle]="{'height':'22px'}"></p-colorPicker>&nbsp;&nbsp;
          </span>
          <button pButton type="button" icon="pi pi-globe" iconPos="left" styleClass="ui-button-info"
            (click)="handleMapClick($event)" [ngStyle]="divLayerMapCss"></button>
          <button pButton *ngIf="recordsSelected > 0" type="button" style="height: 22px;">{{recordsSelected}}</button>
        </span>
        <span style="float:right;margin-right:10px;">Search: <input type="text" #csvSearch name="Search CSV"
            id="csvSearch" [(ngModel)]="searchValue" (keydown)="searchListener($event)" title="Enter Search Text..."
            style="color: black;" />
          <div #layerRefresh id="layerRefresh" [ngStyle]="divCSVRefreshCss" (click)="refreshCSV($event)">
            <img src="{{layerSearchImageSrc}}" title="Clear filters..."
              style="width:18px;height:18px;padding:1px;margin-left:5px;margin-top:-2px;">
          </div>
        </span>
      </div>
    </div>
    <div *ngIf="loadInitial" class="col-md" style="margin-top: 5px;padding: unset;text-align: left;">
      <input type="file" #csvFileUpload name="Upload CSV/XLS" id="csvFileUpload" (click)="fileSelectListener($event)"
        (change)="uploadListener($event)" accept=".csv, .xls, .xslx" style="display:inline;" />
    </div>
  </div>
</div>
<app-csv-grid *ngIf="loadComponent" [parentFileName]="filename" [parentData]="records" [parentMessage]="searchValue"
  [parentColor]="color">
</app-csv-grid>