<div class="container"
  style="background-color: #428bca;color: white;max-width: unset;width:100%;margin: unset;height: 35px;">
  <div class="row" style="height: 35px;">
    <div class="col-md" style="margin-top: 5px;padding: unset;text-align: center;">
      <div *ngIf="loadComponent">Search: <p-dropdown #lyrOptions id="lyrFields" [options]="layerFields"
          [(ngModel)]="layerFieldSelected" optionLabel="title"></p-dropdown>
        <input type="text" #lyrSearch name="Search LYR" id="lyrSearch" (keydown)="searchListener($event)"
          title="Enter Search Text..." style="color: black;width: 75px;" />
      </div>
    </div>
    <div class="col-md" style="margin-top: 5px;padding: unset;text-align: center;">
      <label id="lyrStatus" #lyrStatus>{{loadStatus}}</label>
    </div>
    <div class="col-md" style="margin-top: 5px;padding: unset;text-align: center;">
      <div *ngIf="loadComponent" style="height: 22px;">Layer:
        <p-dropdown #lyrOptions id="lyrOptions" [options]="layers" [(ngModel)]="layerSelected" optionLabel="title"
          (onChange)="selectedLayer($event)"></p-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin: unset;">
  <div class="span3" style="background-color:#d0d9e7;height:calc(100vh - 85px);width: 20%;" id="leftmargin">
    position fixed navbar (out of .container)
  </div>
  <div class="span9" style="height:calc(100vh - 85px);width: 80%;">
    <app-features-grid *ngIf="loadComponent" [parentLayer]="layer"></app-features-grid>
  </div>
</div>